/* Import font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');
/* Menggunakan font Questrial untuk semua elemen di halaman */
body, a, button, h1, h2, h3, h4, h5, h6, * {
    font-family: 'Questrial', sans-serif;
}
.p-navy {
    color: #084363;
}
.p-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}  
.p-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}  
.p-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.p-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.p-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.p-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.p-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.p-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.p-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

